*{
    padding: 0;
    margin: 0;
}
body{
    font-family: BentonSans-Bold, Arial, Noto Sans, sans-serif;
}
#container2{
    width: 90%;
    margin: auto;
    height: 2950px;
    
    margin-top: 20px;
}
.slideshow-container{
    position: relative;
    width: 100%;
    height: 250px;
}
.ad1{
    width: 80%;
    height: 100%;
       position: absolute;
    margin: auto;
    margin-left: 10%;
}
.ad1>img{
    width: 100%;
    height: 100%;
    
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-top: 10px;
  }
  .active {
    background-color: #717171;
  }
  
#video1{
    width: 100%;
    height: 400px;
    margin-top: 20px;
  cursor: pointer;
    display: flex;
    gap: 20px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 
}
#info11{
    width: 40%;
    height: 100%;
    /* border: 1px solid red; */
}
#img11{
    width: 60%;
    height: 100%;
    overflow: hidden;

   
}
#para11{
    margin-top: 100px;
    margin-left: 20px;
    font-size: 16px;
    color: blue;
     font-weight: bold;
     cursor: pointer;
}
#para12{
    margin-top: 30px;
    margin-left: 20px;
    line-height: 1.3;
    color: black;
}
#para13{
    margin-top: 10px;
    color: gray;
    margin-left: 20px;
    line-height: 1.3;
}
#para14{
    margin-top: 30px;
    font-size: 14px;
    color: gray;
    margin-left: 20px;
}
#img11>img{
  width: 100%;
  height: 100%;
  border-start-end-radius: 15px;
  border-end-end-radius: 15px;
  
  transition: transform 0.5s, filter 1.5s ease-in-out;
  
}
#img11>img:hover{
    transform: scale(1.1);

}
#link{
    text-decoration: none;
}
#box11{
    width: 100%;
    height: 350px;
    margin-top: 20px;
    cursor: pointer;
  
}
#box11>h1{
    margin-top: 10px;
}
#chote_div11{
    width: 100%;
    height: 80%;
    margin-top: 20px;
    display: flex;
    gap: 20px;
  
}

#chote_div11>div{
width: 25%;
height: 100%;

overflow: hidden;
}
#chote_div11>div>img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    transition: transform 0.5s, filter 1.5s ease-in-out;
}
#chote_div11>div>img:hover{
    transform: scale(1.1);
}
#chote_div11>div h3{
    margin-top: 10px;
}
#chote_div11>div p{
    margin-top: 10px;
    font-size: 13px;
    color: gray;
}
#video2{
    width: 100%;
    height: 250px;
    
  
}
#video2>h1{
    margin-top: 10px;
}
#chote_div12{
    width: 100%;
    height: 73%;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
#chote_div12>div{
    width: 20%;
    height: 100%;
    position: relative;
   
}
#chote_div12>div>#background{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}
#chote_div12>div>#inside{
position:relative ;

width: 70%;
height: 60%;
margin-top: 40px;
margin-left: 25px;
}
#badadiv{
    width: 100%;
    height: 1600px;
   
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

#chotadiv12{
    width: 75%;
    height: 100%;

    gap: 20px;
}
#box12{
    width: 100%;
    height: 300px;
    /* border: 1px solid teal; */
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    cursor: pointer;

}
#chotadiv13{
    width: 25%;
    height: 100%;
    /* border: 1px solid teal; */
}
#box12>div{
    width: 35%;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
}
#box12>div>#background1{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
}
#box12>div>#inside1{
    position:relative ;
     width: 70%;
    height: 40%;
    margin-top: 65px;
    margin-left: 27px;
    }
    #box12 #img2{
        width: 100%;
        height: 60%;
      border-radius: 10px;
        transition: transform 0.5s, filter 1.5s ease-in-out;
    }
    #box12>div>#img2:hover{
        transform: scale(1.1);
    }
    #box12 h5{
        margin-top: 10px;
        line-height: 1.2;
        margin-left: 10px;

    }
    #box12 p{
        margin-top: 20px;
        font-size: 12px;
        color: gray;
        margin-left: 10px;
    }
    #box13{
        width: 100%;
        height: 400px;
       
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    }
    #box13>h4{
        
        margin-bottom: 10px;
        padding-top:10px ;

    }
    #mini_box{
        width: 100%;
        height: 75px;
     
        display: flex;
        gap: 20px;
        margin-top: 10px;
        cursor: pointer;
    }
    #img14{
        width: 25%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;

    }
    #img14>img{
        width: 100%;
        height: 80%;
        border-radius: 10px;
        transition: transform 0.5s, filter 1.5s ease-in-out;
    }
    #img14>img:hover{
        transform: scale(1.1);
    }
    #info12{
        width: 60%;
        height: 100%;
    }
    #info12 p{
        font-size: 10px;
          color: blue;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    #box31{
        width: 100%;
        height: 300px;
       
        margin-top: 20px;
    }
    #box31>img{
        width: 100%;
        height: 100%;
    }
    #footer1{
        width: 99%;
        margin: auto;
        height: 50px;
     
        background-color: lightgrey;
        margin-bottom: 10px;
        display: flex;
        gap:200px
    }
    #footer1>#par{
        margin-top: 15px;
        margin-left: 10px;
        font-size: 15px;
    }
    #footer1>#par1{
        font-size: 13px;
    margin-top: 15px;
    }
