<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style/index.css">
    <link rel="stylesheet" href="./style/nav_css.css">
    <link rel="stylesheet" href="./style/indexContent.css">
    <link rel="stylesheet" href="./style/footer.css">
    <link rel="stylesheet" href="./style/left.css">
    <link rel="stylesheet" href="./style/headerMain.css">
    <title>Check Live Cricket Scores, Match Schedules, News, Cricket Videos Online | ESPNcricinfo.com</title>
    <link rel="icon" id="titlelogo" type="image/png" href="./image/logo.png">
    <title>Document</title>
    <link rel="stylesheet" href="india.css">
    <style>
        .left2to6>*{
            text-align: left;
            height: 20px;
           
            margin-top: -10px;
            
        }
    </style>
</head>
<body>
    <div id="headerSec"></div>
    <main id="main">
        <div id="left">
            <div class="left">
                <div class="left1">
                    <h4 id="features">Features</h4>
                    <h4 id="result">Results</h4>
                </div>
                <div class="left2to6">
                    <p style="font-size: 15px;">18-june-2021</p>
                    <p class="color_gr">final southemton june 18-22-2021 ...</p>
                    <div style="display: flex; height: 50px;margin-top: -10px;">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_s_100/lsci/db/PICTURES/CMS/313100/313128.logo.png" alt="" height="40px" width="40px" margin-top="-5px">
                        <h4 style="height: 20px;  margin: 7px 0px 0px 10px;">INDIA</h4>
                        
                    </div>
                    <div style="display: flex; height: 50px;">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_s_100/lsci/db/PICTURES/CMS/313100/313127.logo.png" alt="" height="40px" width="40px" margin-top="-5px">
                        <h4 style="height: 20px;  margin: 7px 0px 0px 10px;">NZ</h4>
                        
                    </div>
                    <p class="color_gr">match yet to began</p>
                    
                      
                </div>
                <div class="left2to6">
                    <p style="font-size: 15px;">04-August-2021 3:00</p>
                    <p class="color_gr">1st test nottingharm Aug 4-08-2021...</p>
                    <div style="display: flex; height: 50px;margin-top: -10px;">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_s_100/lsci/db/PICTURES/CMS/313100/313114.logo.png" alt="" height="40px" width="40px" margin-top="-5px">
                        <h4 style="height: 20px;  margin: 7px 0px 0px 10px;">ENG</h4>
                        
                    </div>
                    <div style="display: flex; height: 50px;margin-top: -10px;">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_s_100/lsci/db/PICTURES/CMS/313100/313128.logo.png" alt="" height="40px" width="40px" margin-top="-5px">
                        <h4 style="height: 20px;  margin: 7px 0px 0px 10px;">INDIA</h4>
                        
                    </div>
                    <p class="color_gr">match yet to began</p>
                </div>
                <div class="left2to6">
                    <p style="font-size: 15px;">12-Aug-2021 03:30 pm</p>
                    <p class="color_gr">2nd test London Augu 12-06-2021 lndia tour...</p>
                    <div style="display: flex; height: 50px;margin-top: -10px;">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_s_100/lsci/db/PICTURES/CMS/313100/313114.logo.png" alt="" height="40px" width="40px" margin-top="-5px">
                        <h4 style="height: 20px;  margin: 7px 0px 0px 10px;">ENG</h4>
                        
                    </div>
                    <div style="display: flex; height: 50px;margin-top: -10px;">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_s_100/lsci/db/PICTURES/CMS/313100/313128.logo.png" alt="" height="40px" width="40px" margin-top="-5px">
                        <h4 style="height: 20px;  margin: 7px 0px 0px 10px;">INDIA</h4>
                        
                    </div>
                    <p class="color_gr">match yet to began</p>
                </div>
                <div class="left2to6">
                    <p style="font-size: 15px;">25-Aug-2021 03:30pm</p>
                    <p class="color_gr">3rd test leeds aug 25-29-2021 India tour of ...</p>
                    <div style="display: flex; height: 50px;margin-top: -10px;">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_s_100/lsci/db/PICTURES/CMS/313100/313114.logo.png" alt="" height="40px" width="40px" margin-top="-5px">
                        <h4 style="height: 20px;  margin: 7px 0px 0px 10px;">ENG</h4>
                        
                    </div>
                    <div style="display: flex; height: 50px;margin-top: -10px;">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_s_100/lsci/db/PICTURES/CMS/313100/313128.logo.png" alt="" height="40px" width="40px" margin-top="-5px">
                        <h4 style="height: 20px;  margin: 7px 0px 0px 10px;">INDIA</h4>
                        
                    </div>
                    <p class="color_gr">match yet to began</p>
                </div>
                <div class="left2to6">
                    <p style="font-size: 15px;">02-sept-2021</p>
                    <p class="color_gr">4th test , london sept 2-6 2021 India tour of ..</p>
                    <div style="display: flex; height: 50px;margin-top: -10px;">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_s_100/lsci/db/PICTURES/CMS/313100/313114.logo.png" alt="" height="40px" width="40px" margin-top="-5px">
                        <h4 style="height: 20px;  margin: 7px 0px 0px 10px;">ENG</h4>
                        
                    </div>
                    <div style="display: flex; height: 50px;margin-top: -10px;">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_s_100/lsci/db/PICTURES/CMS/313100/313128.logo.png" alt="" height="40px" width="40px" margin-top="-5px">
                        <h4 style="height: 20px;  margin: 7px 0px 0px 10px;">INDIA</h4>
                        
                    </div>
                    <p class="color_gr">match yet to began</p>
                </div>
                <div class="left2to6">
                    <p style="font-size: 15px;">10-sept-2021</p>
                    <p class="color_gr">5th test Manchester, Sept 10-14 2021, Indoa tour of...</p>
                    <div style="display: flex; height: 50px;margin-top: -10px;">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_s_100/lsci/db/PICTURES/CMS/313100/313114.logo.png" alt="" height="40px" width="40px" margin-top="-5px">
                        <h4 style="height: 20px;  margin: 7px 0px 0px 10px;">ENG</h4>
                        
                    </div>
                    <div style="display: flex; height: 50px;margin-top: -10px;">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_s_100/lsci/db/PICTURES/CMS/313100/313128.logo.png" alt="" height="40px" width="40px" margin-top="-5px">
                        <h4 style="height: 20px;  margin: 7px 0px 0px 10px;">INDIA</h4>
                        
                    </div>
                    <p class="color_gr">match yet to began</p>
                </div>
                <div id="left_lower">
                    <h3 style="margin: 2px 5px; font-size: 15px; font-family: Arial, Helvetica, sans-serif; color: #439ec9 !important; ;">VIEW ALL FIXTURES</h3>
                </div>
            </div>  
           
        </div>

        <div id="middle">
            <img id="img" src="https://img1.hscicdn.com/image/upload/f_auto,t_gn_w_656/lsci/db/PICTURES/CMS/319600/319668.6.jpg" alt="" srcset="" style="border-radius: 5%; height: 400px; width: 98%; margin: 10px;">
            <div class="text_img">
                <h2>Fearless and cheeky Shikhar Dhawan find<br/>finds a new gear</h2>
            </div>
            <div class="text_img_p">
                With the T20 World Cup sheduled this year,the opener is leaving no<br/>
                stone unterned to claim this spot back
            </div>
        </div>
        <div id="right">
            <div class="right_upper">
                <div id="right_upper1"> 
                    
                    <h4>Top run scores</h4>
                    <p style="margin-top: -20px; color: rgb(173, 173, 173);"  >In last one year</p>
                </div>
                <div id="right_upper2">
                    <div id="test">Test </div>
                    <div id="odi">ODI </div>
                    <div id="t201">T201 </div>
                    <div id="fc">FC   </div>
                </div>
                <div id="click_btn">
                <div class="right_upper345">
                    <div class="right_upper_img">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_h_100/lsci/db/PICTURES/CMS/304200/304221.png" alt="" srcset="" style="height: 70px; width: 70px;border-radius: 50%;">
                    </div>
                    <div class="right_upper_text">
                        <div>
                            <h5 style="margin: 5px; height: 20px;">Rishab Pant <a href="">lbh</a></h5>
                        </div>
                        <div style="height: 50%;  text-align: center;">   
                            <h1 style="float: left; margin-top: -5px;">544</h1>
                            <p class="color_gr" style="float: right; margin-top: -5px;">Innings: 11<br/>Averahe: 60.44</p>
                        </div>
                    </div>
                </div>
                <div class="right_upper345">
                    <div class="right_upper_img">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_h_100/lsci/db/PICTURES/CMS/302300/302374.jpg" alt="" srcset="" style="height: 70px; width: 70px;border-radius: 50%;">
                    </div>
                    <div class="right_upper_text">
                        <div>
                            <h5 style="margin: 5px; height: 20px;">Rohit Sharma <a href="">rbh</a></h5>
                        </div>
                        <div style="height: 50%;  text-align: center;">   
                            <h1 style="float: left; margin-top: -5px;">474</h1>
                            <p class="color_gr" style="float: right; margin-top: -5px; ;">Innings: 11<br/>Average: 47.40</p>
                        </div>
                    </div>
                </div>
                <div class="right_upper345">
                     <div class="right_upper_img">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_h_100/lsci/db/PICTURES/CMS/295200/295261.1.jpg" alt="" srcset="" style="height: 70px; width: 70px;border-radius: 50%;">
                    </div>
                    <div class="right_upper_text">
                        <div>
                            <h5 style="margin: 5px; height: 20px;">Chatweshwar pujara <a href="">rbh</a></h5>
                        </div>
                        <div style="height: 50%; text-align: center;">   
                            <h1 style="float: left; margin-top: -5px;">544</h1>
                            <p class="color_gr" style="float: right; margin-top: -5px;">Innings: 14<br/>Average: 28.85</p>
                        </div>
                    </div>

                </div>
            </div>
                <div id="right_upper6"><h3>View all stats</h3></div>
            </div>
            <div class="right_upper">
                <div id="right_upper1"> 
                    
                    <h4>Top wicket scores</h4>
                    <p style="margin-top: -20px";>In last one year</p>
                </div>
                <div id="right_upper2">
                    <div id="test">Test </div>
                    <div id="odi">ODI </div>
                    <div id="t201">T201 </div>
                    <div id="fc">FC   </div>
                </div>
                <div class="right_upper345">
                    <div class="right_upper_img">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_h_100/lsci/db/PICTURES/CMS/302300/302395.jpg" alt="" srcset="" style="height: 70px; width: 70px;border-radius: 50%;">
                    </div>
                    <div class="right_upper_text">
                        <div>
                            <h5 style="margin: 5px; height: 20px;">Ravichandra Ashwin <a href="">ob</a></h5>
                        </div>
                        <div style="height: 50%;  text-align: center;">   
                            <h1 style="float: left; margin-top: -5px;">44</h1>
                            <p class="color_gr" style="float: right; margin-top: -5px;">Innings: 14<br/>Average: 11.6</p>
                        </div>
                    </div>
                </div>
                <div class="right_upper345">
                    <div class="right_upper_img">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_h_100/lsci/db/PICTURES/CMS/309000/309098.png" alt="" srcset="" style="height: 70px; width: 70px;border-radius: 50%;">
                    </div>
                    <div class="right_upper_text">
                        <div>
                            <h5 style="margin: 5px; height: 20px;">Rohit Sharma <a href="">rbh</a></h5>
                        </div>
                        <div style="height: 50%;  text-align: center;">   
                            <h1 style="float: left; margin-top: -5px;">474</h1>
                            <p class="color_gr" style="float: right; margin-top: -5px;">Innings: 11<br/>Average: 47.40</p>
                        </div>
                    </div>
                </div>
                <div class="right_upper345">
                     <div class="right_upper_img">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_h_100/lsci/db/PICTURES/CMS/295200/295261.1.jpg" alt="" srcset="" style="height: 70px; width: 70px;border-radius: 50%;">
                    </div>
                    <div class="right_upper_text">
                        <div>
                            <h5 style="margin: 5px; height: 20px;">Chatweshwar pujara <a href="">rbh</a></h5>
                        </div>
                        <div style="height: 50%; text-align: center;">   
                            <h1 style="float: left; margin-top: -5px;">544</h1>
                            <p class="color_gr" style="float: right; margin-top: -5px;">Innings: 14<br/>Average: 28.85</p>
                        </div>
                    </div>
                </div>
                <div id="right_upper6"><h3>View all stats</h3></div>
                  
            </div>
            <div id="right_ad"></div>

            
        </div>
    </main>
   
    <script type="module">               
        import ad_image_arr from './images/right_add/image.js'
        var right_bottom_array=['Keep up wiht experts','On this day: Salim malik is born',
        'Queto unqueto: who is saying what?','The greatest ipl score 2008-2020','Santanao :I watch a lot of ventnor I thought it would br a crack',
        'Who played the most cricket in pandamic year','The tendulkar innings Tamim iqbal wishes ','The top 20 ball of this centuries',
        'Bangladeshis legency of left arm spin','Record index <br/>Most run most wicket and lot more']
       
       right_bottom_array.forEach((ele,index)=>{
               var right_ad=document.getElementById('right_ad')
               var a=document.createElement('div')
           a.setAttribute('class','right')
           a.innerHTML=`
           <img id="right_img" src=${'/images/right_add/'+ad_image_arr[index]} alt="" srcset="" style="height: 80%; width:100%;">
            <p id="right_p">${right_bottom_array[index]}</p>
           `
           right_ad.append(a)

               
           })
           var t201=document.getElementById('t201')
           var test=document.getElementById('test')
           test.setAttribute('id','right_btn')
           var odi=document.getElementById('odi')
           odi.addEventListener('click',function(){
               odi.setAttribute('id','right_btn')
               test.removeAttribute('id')
               var a=document.getElementById('click_btn')
               a.innerHTML=""
               a.innerHTML=`               <div class="right_upper345">
                    <div class="right_upper_img">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_h_100/lsci/db/PICTURES/CMS/304200/304201.png" alt="" srcset="" style="height: 70px; width: 70px;border-radius: 50%;">
                    </div>
                    <div class="right_upper_text">
                        <div>
                            <h5 style="margin: 5px; height: 20px;">Hardik Pandya <a href="">lbh</a></h5>
                        </div>
                        <div style="height: 50%;  text-align: center;">   
                            <h1 style="float: left; margin-top: -5px;">310</h1>
                            <p class="color_gr" style="float: right; margin-top: -5px;">Innings: 6<br/>Averahe: 62.44</p>
                        </div>
                    </div>
                </div>
                <div class="right_upper345">
                    <div class="right_upper_img">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_h_100/lsci/db/PICTURES/CMS/289000/289002.1.jpg" alt="" srcset="" style="height: 70px; width: 70px;border-radius: 50%;">
                    </div>
                    <div class="right_upper_text">
                        <div>
                            <h5 style="margin: 5px; height: 20px;">Virat Kohli <a href="">rbh</a></h5>
                        </div>
                        <div style="height: 50%;  text-align: center;">   
                            <h1 style="float: left; margin-top: -5px;">302</h1>
                            <p class="color_gr" style="float: right; margin-top: -5px;">Innings: 6<br/>Average: 50.33</p>
                        </div>
                    </div>
                </div>
                <div class="right_upper345">
                     <div class="right_upper_img">
                        <img src="https://img1.hscicdn.com/image/upload/f_auto,t_h_100/lsci/db/PICTURES/CMS/302300/302373.jpg" alt="" srcset="" style="height: 70px; width: 70px;border-radius: 50%;">
                    </div>
                    <div class="right_upper_text">
                        <div>
                            <h5 style="margin: 5px; height: 20px;">Shikhar Dhawan <a href="">rbh</a></h5>
                        </div>
                        <div style="height: 50%; text-align: center;">   
                            <h1 style="float: left; margin-top: -5px;">289</h1>
                            <p class="color_gr" style="float: right; margin-top: -5px;">Innings: 6<br/>Average: 48.16</p>
                        </div>
                    </div>

                </div>
`
           })
           t201.addEventListener('click',function(){
               t201.setAttribute('id','right_btn')
               odi.removeAttribute('id')
           })
           var features=document.getElementById('features')
           features.setAttribute('id','left_btn')
           features.addEventListener('click',function(){
               result.removeAttribute('id')
               features.setAttribute('id','left_btn')
           })
           var result=document.getElementById('result')
           result.addEventListener('click',function(){
               result.setAttribute('id','left_btn')
               features.removeAttribute('id')
           })
         
        for(var i=1;i<30;i++){
            fetch(`https://www.espncricinfo.com/ci/content/story/data/index.json?;type=7;page=${i}`)
        .then(res=>{
            return res.json()
        })
        .then(res=>{
            res.forEach(element => {
               var head=element.headline
               if(head.includes('BCCI')){
                  var div=document.getElementById('middle')
                  var div1=document.createElement('div')
                  div1.innerHTML=`
                  <div id="middle_lower">
                <div class="middle_lower_left"><img style='border-radius: 5%;' height='100%' width='100%' src="${element.image_path}" alt=""></div>
                <div class="middle_lower_right"><h2 style='margin-top:-10px;'>${element.headline}</h2>
                <p style='margin-top:-20px;'>${element.summary}</p></div>
            </div> 
                  `
                  div.append(div1)
               }
               
            });
            
        })
        
        }
    </script>
    <script type="module" src="./main.js"></script>
     <!-- <script src="./javaScript/newContect.js"></script>
     <script src="./javaScript/showcard.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</body>
</html>